h1 {
    color: #ffffff;
}

h2 {
    font-weight: bold;
    color: #4f0000;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
    color: #4f0000;

}

body {
    font-weight: bold;
    background: #adb9c7;
}
